{% extends 'realappweb/base.html' %}

{% load static %}

{% block contenido %}
<!--article-->
	<section id="categorias">
		<section class="uno">
			
			<a class="btn btn-primary btn-block" href="#" role="button">
				<img src="{% static 'realappweb/img/icon-set8.png' %}" height="200">
				<h4>Mantenedor de departamentos</h4></a>
			<p>
				
			</p>
            
		</section>

		<section class="dos">
            
			<a class="btn btn-primary btn-block" href="#" role="button">
				<img src="{% static 'realappweb/img/icon-set5.png' %}" height="200">
				<h4>Mantenedor datos de clientes</h4></a>
			<p>
				
			</p>

		</section>
		
		<div><section class="tres">
			
			<a class="btn btn-primary btn-block" href="#" role="button" >
				<img src="{% static 'realappweb/img/icon-set10.png' %}"  height="200"> 
				<h4>Mantención de departamento</h4></a>
			<p>
				
			</p>
         
		</section>
		<section id="categorias">
		<section class="uno">
			
			<a class="btn btn-primary btn-block" href="#" role="button">
				<img src="{% static 'realappweb/img/icon-set7.png' %}" height="200">
				<h4>Mantención disponibilidad</h4></a>
			<p>
				
			</p>
     
		</section>
		

		<div><section class="dos">
			<a class="btn btn-primary btn-block" href="#" role="button">
				<img src="{% static 'realappweb/img/icon-set4.png' %}"  height="200"> 
				<h4>Mantención servicios extra</h4></a>
			<p>
				
			</p>
         
		</section>

		<section class="tres">
			<a class="btn btn-primary btn-block" href="#" role="button">
				<img src="{% static 'realappweb/img/icon-set14.png' %}" height="200">
				<h4>Ingreso inventario</h4></a>
			<p>
				
			</p>
            
		</section>
		</section>

		<section id="categorias">
		<section class="uno">
			<a class="btn btn-primary btn-block" href="#" role="button">
				<img src="{% static 'realappweb/img/icon-set11.png' %}" height="200">
				<h4>Recepción pago</h4></a>
			<p>
				 
			</p>
           
		</section>

		

		<section class="dos">   
			<a class="btn btn-primary btn-block" href="#" role="button">
				<img src="{% static 'realappweb/img/icon-set13.png' %}" height="200">
				<h4>Planificación transporte</h4></a>
			<p>
				
			</p>
            
		</section>

		<section class="tres">
			
			<a class="btn btn-primary btn-block" href="#" role="button"><img src="{% static 'realappweb/img/icon-set12.png' %}" height="200"><h4>Generación informe reservas</h4></a>
			<p>
				 
			</p>
           
		</section></div>
		</section>
		<section id="categorias">
		<div><section class="uno">
			 
			<a class="btn btn-primary btn-block" href="#" role="button" ><img src="{% static 'realappweb/img/icon-set6.png' %}"  height="200"><h4>Generación estadísticas</h4></a>
			<p>
				
			</p>
         
		</section>

		<section class="dos">
            
			<a class="btn btn-primary btn-block" href="#" role="button"><img src="{% static 'realappweb/img/icon-set9.png' %}" height="200"><h4>Autenticación clientes</h4></a>
			<p>
				
			</p>
            
		</section></div>
	</section>
		
	</section>
    <!-- Categorias -->
{% endblock contenido %}